
[submodule "documentation/_wiki"]
	path = documentation/_wiki
	url = https://github.com/openmsupply/application-manager-server.wiki.git
	branch = master

[submodule "_snapshots"]
	path = _snapshots
	url = https://github.com/openmsupply/application-manager-templates.git
